/*Ссылка на шрифты кроме основного 'https://fonts.googleapis.com/css?family=Farsan|Hind+Siliguri|Racing+Sans+One|Six+Caps|Space+Mono:700'*/

@font-face {
    font-family: 'english_towne';
    src: url('fonts/englishtowne-webfont.woff2') format('woff2'),
         url('fonts/englishtowne-webfont.woff') format('woff'),
         url('fonts/englishtowne-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ancient';
    src: url('fonts/ancient_medium-webfont.woff2') format('woff2'),
         url('fonts/ancient_medium-webfont.woff') format('woff'),
         url('fonts/ancient_medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body
{
    width: 1200px;
    margin: 0 auto;
}

.clear-fix:after
{
    display: block;
    clear: both;

    content: '';
}

/*––––––––––––––––––Шапка газеты––––––––––––––––––––*/
.header
{
    margin: 35px 0 25px;
}

.header__info
{
    float: left;

    box-sizing: border-box;
    width: 200px;
    padding: 25px 10px;

    border: 1px solid;

    text-align: center;
    
}

.header__weather
{
    float: right;

    width: 200px;
}

.header__weather-title
{
    margin: 0;
    
    text-align: center;
    font-family: 'Space Mono', monospace;
    font-size: 1.17em;
}

.header__weather-text
{
    margin: 0;
    
    text-align: justify;
    font-size: 0.8em;
    line-height: 1.1;
}

.header__title
{
    overflow: visible;

    margin: 0;
    
    text-align: center;
    font-family: 'english_towne', ancient, fantasy;
    font-size: 6em;
    line-height: 1;
}


/*––––––––––––––––––Подшапка газеты–––––––––––––––––*/
.sub-header
{
    padding: 5px 0;

    border-top: 1px solid;
    border-bottom: 2px solid;
}

.sub-header__copyright
{
    display: inline-block;

    margin: 0 30px;

    font-size: 0.6em;
}

.sub-header__price
{
    float: right;
}


/*––––––––––––––––––Основной контент––––––––––––––––*/
.content
{
    display: flex;
}

/*––––––––––––––––––Блок статьи–––––––––––––––––––––*/
.article__title
{
    margin-top: 0;
    margin-bottom: 10px;

    font-size: 3.2em;
    font-family: 'Six Caps', sans-serif;
    font-weight: bold;
}

.article__help
{
    margin-top: 10px !important;
    margin-bottom: 4px !important;
}


.article__add-text
{
    margin-top: 10px;
    margin-bottom: 4px;

    text-align: justify;
    text-indent: 1em;
    font-size: 0.8em;
    font-style: oblique;
}

.article__author
{
    display: block;

    margin-top: 10px;

    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
}

.article__continue
{
    display: block;

    text-align: center;
    font-size: 0.8em;
    font-style: oblique;
}

.article__image
{
    margin: 0;
    text-indent: 0;
}

.article__image.article__image_align_right
{
    float: right;

    margin: 10px 0 5px 10px;
}

.article__image-caption 
{
    font-size: 0.8rem;
    text-decoration: underline;
}

.article__subtitle
{
    margin: 10px 0;

    text-align: center;
    font-family: 'Times New Roman', serif;
    font-size: 1.17em;
    font-weight: bold;
}

.article__content p {
    margin: 0;

    text-align: justify;
    text-indent: 1em;
    font-size: 0.8em;
}

/*––––––––––––––––––Блок главной фотографии–––––––––*/
.main-photo__wrapper
{
    margin: 0;
}

.main-photo__img
{
    width: 100%;
}

.main-photo__caption
{
    text-align: right;
    font-size: 0.7rem;
    text-transform: uppercase;
}

.main-photo__title
{
    margin: 0;
    
    font-family: 'Times New Roman', serif;
    font-size: 1.17em;
    font-weight: bold;
}

.main-photo__desc
{
    margin-bottom: 20px;

    font-size: 0.8em;
}

/*––––––––––––––––––Линия разделения––––––––––––––––*/
.line
{
    border-top: 1px solid #000;
}

.line.line_type_bold
{
    margin-bottom: 3px;

    border-width: 2px;
}

.line.line_type_short
{
    width: 70px;
    margin: 0 auto;
}

/*––––––––––––––––––Центральные колонки газеты––––––––––––––––––*/
.multicolumn
{
    margin-top: 10px;
}

.multicolumn__right,
.multicolumn__left
{
    display: inline-block;

    box-sizing: border-box;
    width: 49%;

    vertical-align: top;

}

.multicolumn__right
{
    padding-left: 10px;
}

.multicolumn__left
{
    padding-right: 10px;

    border-right: 1px solid #000;
}

.multicolumn .line_type_short
{
    width: 50%;
    margin: 10px auto;
}

.multicolumn .article__title
{
    margin: 10px 0 0 0;
}

.multicolumn .article__title_font_racing
{
    font-family: 'Racing Sans One', cursive;
    font-size: 2em;
    font-weight: bold;
    /* font-style: italic; */
}

.multicolumn .article__title_font_farsan
{
    font-family: 'Farsan', cursive;
    font-size: 2.3em;
    font-weight: bold;
    /* font-style: italic; */
}

.multicolumn .article__content
{
    position: relative;
    /* -webkit-column-count: 2; */
    columns: 2;
    column-gap: 15px;
    column-fill: balance;
}

.multicolumn .article__author,
.multicolumn .article__continue
{
    -webkit-column-span: all;
            column-span: all;
}

@supports not (column-span: all) {
    .multicolumn .article__content 
    {
        padding: 1em 0;
    }
    .multicolumn .article__author,
    .multicolumn .article__continue 
    {
      position: absolute;
      left:0;
      width: 100%;
      margin: 0;
    } 
    .multicolumn .article__author
    {
        top: 0;
    }
    .multicolumn .article__continue 
    {
        bottom: 0;
    }
  }

.center-column
{
    margin-top: 20px;
    padding: 0 10px;

    flex-grow: 2;
}

/*––––––––––––––––––Второстепенные колонки газеты––––––––––––––––––*/
.left-column
{
    border-right: 1px solid #000;
}

.right-column
{
    border-left: 1px solid #000;
}

.right-column,
.left-column
{
    box-sizing: border-box;
    width: 200px;
    margin-top: 20px;
    padding: 0 10px;

    flex-shrink: 0;
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––*/
